<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="css/inputform.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light static-top mb-5 shadow">
        <div class="container">
            <a class="navbar-brand" href="index.html">Dept Content Management</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="index.html">Content Management</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="vuepage.html">VueTesting</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="vueImports.html">VueImports</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!--vue contact form content-->
    <div id="app">

        <form class="vue-form" @submit.prevent="submit">

            <fieldset>
                <legend>Upload 3D model form</legend>
                <div>
                    <h4>Team Member</h4>
                    <p class="select">
                        <select class="budget" v-model="selection.member">
                            <option value="0">Giamo van den Eerenbeemt </option>
                            <option value="1">Benjamin van der Wolf</option>
                            <option value="2">Oscar Hulshof</option>
                            <option value="3">Ryan Zhang</option>
                            <option value="4">My Vu</option>
                        </select>
                    </p>
                </div>

                <div>
                    <h4>Model Type</h4>

                    <ul class="vue-form-list">
                        <li>
                            <input type="radio" name="radio-1" id="radio-1" value="wearable-head"
                                v-model="selection.modeltype">
                            <label for="radio-1">Wearable-Head</label>
                        </li>
                        <li>
                            <input type="radio" name="radio-2" id="radio-2" value="wearable-body"
                                v-model="selection.modeltype">
                            <label for="radio-2">Wearable-Body</label>
                        </li>
                        <li>
                            <input type="radio" name="radio-3" id="radio-3" value="placeable"
                                v-model="selection.modeltype">
                            <label for="radio-3">PlaceAble</label>
                        </li>
                    </ul>
                </div>

                <div>
                    <h4>Features</h4>
                    <ul class="vue-form-list">
                        <li v-for="(feature, index) in features">
                            <input type="checkbox" :value="feature" :id="'cb-feature-'+index"
                                v-model="selection.features">
                            <label :for="'cb-feature-'+index">{{feature}}</label>
                        </li>
                        <li>
                            <input type="checkbox" id="checkbox-all" @click="checkAll">
                            <label for="checkbox-all">Check All</label>
                        </li>
                    </ul>
                </div>
                <div>
                    <label class="label" for="textarea">Extra information</label>
                    <textarea class="message" name="textarea" id="textarea" required="" v-model="message.text"
                        :maxlength="message.maxlength"></textarea>
                    <span class="counter">{{ message.text.length }} / {{ message.maxlength }}</span>
                </div>
                <div>
                    <input type="submit" value="Send Info">
                </div>
            </fieldset>
        </form>

        <div class="debug">
            <pre><code>{{ $data }}</code></pre>
        </div>

    </div>

    <!--link to vue libraby-->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="js/vueInputForm.js"></script>

</body>

</html>